<h1 mat-dialog-title>{{popUpTitel}}</h1>

<mat-dialog-content [formGroup]="cohostForm">
    <mat-form-field>
        <input matInput placeholder="Naam" formControlName="cohostNaam" type="text" (change)="getIconFeedback($event)" required>
        <mat-icon matSuffix>{{iconNameFeedback}}</mat-icon>
    </mat-form-field>
    <br />
    <mat-form-field>
        <input matInput placeholder="E-mailadres" formControlName="cohostEmail" type="email" (change)="getIconFeedback($event)" required>
        <mat-icon matSuffix>{{iconEmailFeedback}}</mat-icon>
    </mat-form-field>

    <p>{{popUpInhoud}}</p>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()" disabled="true">Save</button>
</mat-dialog-actions>