<div class="detail-container">
  <div class="back-button-box">
    <button (click)="closeAndComparePresentationdraft(presentationDraftDetail)"
            matRipple class="material-icons"
            matTooltip="Back" matTooltipPosition="below">
      arrow_back_ios
    </button>
  </div>
  <div class="detail-presentation-draft-box">
    <div class="info-first-layer">
      <div class="detail-title">
        <h1>{{presentationDraftDetail.subject}}</h1>
      </div>
      <div class="creation-time-box">
        <p>Submitted on: {{showCorrectDate(presentationDraftDetail.timeOfCreation)}}</p>
      </div>
    </div>

    <div class="info-second-layer">
      <div class="info-field-box">
        <div class="type-box">
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Type</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="presentationDraftDetail.type">
            </mat-form-field>
          </p>
        </div>
        <div class="duration-box">
          <p>
            <mat-form-field appearance="legacy">
              <mat-label>Duration</mat-label>
              <input matInput placeholder="Placeholder" [(ngModel)]="presentationDraftDetail.duration">
            </mat-form-field>
          </p>
        </div>
        <div class="summary-box">
          <mat-form-field>
            <textarea rows="8" matInput placeholder="Summary" [(ngModel)]="presentationDraftDetail.summary"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="tag-box">
        <div class="label-box">
          <div class="dropdown">
            <button class="label-button" *ngIf="presentationDraftDetail.label; else showDefaultLabel">
              {{presentationDraftDetail.label | lowercase}}
            </button>
            <ng-template #showDefaultLabel>
              <button class="label-button">Kies label</button>
            </ng-template>
          </div>
          <div class="dropdown-content">
            <p (click)="changeLabel('ACCEPTED')">Accepted</p>
            <p (click)="changeLabel('DENIED')">Denied</p>
            <p (click)="changeLabel('RESERVED')">Reserved</p>
          </div>
        </div>
        <div class="category-box">
          <div class="dropdown">
            <button class="label-button" *ngIf="presentationDraftDetail.category; else showDefaultCategory">
              {{presentationDraftDetail.category}}
            </button>
            <ng-template #showDefaultCategory>
              <button class="label-button">Kies categorie</button>
            </ng-template>
          </div>
          <div class="dropdown-content">
            <p (click)="changeCategory(category)" *ngFor="let category of categories">
              {{category}}
            </p>
          </div>
        </div>
      </div>
    </div>


  </div>

  <div class="config-button-box">

    <div class="save-button-box">
      <button (click)="updatePresentationDraft(presentationDraftDetail)" class="save-button far fa-save">
      </button>
    </div>
    <div class="download-button-box">
      <button (click)="downloadSinglePdf(presentationDraftDetail)" class="download-button fa fa-download">
      </button>
    </div>
    <div class="delete-button-box">
      <button (click)="downloadSinglePdf(presentationDraftDetail)" class="delete-button far fa-trash-alt">
      </button>
    </div>

  </div>
</div>

