.detail-box{
    border: 1px solid black;
    background-color: white;
    display: inline-block;
    margin: 100px 0;
    width: 70%;
    height: 70%;
    z-index: 1;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.281);
    z-index: 10;
}

.summary{
    width: 90%;
}

.summary > textarea {
    position: inherit;
    width: 1000px;
    height: 300px;
}

.labelbutton {
    width: 100px;
   margin-bottom: 10px;
   display: inherit;
   margin-left: 100px;
}