h1{
  color: #575E64;
}

textarea{
  resize: none;
}

.back-button-box{
  align-items: start;
}

.detail-container {
  display: flex;
  flex-wrap: wrap;
}

.detail-presentation-draft-box{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.info-field-box{
  display: grid;
  grid-gap: 10px 50px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 200px;
}

.info-first-layer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.info-second-layer{
  display: flex;
  justify-content: space-around;
}

.duration-box{
  grid-column: 2;
}

.summary-box{
  display: flex;
  grid-row: 2;
  grid-column: 5 span;
}

.summary-box mat-form-field{
  width: 100%;
}

.tag-box{
  display: flex;
  align-items: start;
}

.label-box{
  margin-right: 10px;
}

.label-button {
  font-weight: bold;
  color: #4f3e8e;
}

.dropdown {
  border: 1px solid #180A3D;
  text-align: center;
  padding: 10px;
  width: 100px;
}

.dropdown:hover {
  background-color: rgba(79, 62, 142, 0.1);
}

.dropdown-content {
  display: none;
  position: absolute;
  border-bottom: 1px solid #180A3D;
  border-left: 1px solid #180A3D;
  border-right: 1px solid #180A3D;
  text-align: center;
  width: 120px;

}

.dropdown-content p {
  cursor: pointer;
  padding: 10px;
  color: #4f3e8e;;
}

.dropdown-content p:hover {
  background-color: rgba(79, 62, 142, 0.1);
}

.label-box:hover .dropdown-content {
  display: block;
}

.category-box:hover .dropdown-content {
  display: block;
}

.config-button-box{
  display: flex;
  flex-direction: column;
}

.save-button-box {
  background-color: #4f3e8e;
  padding: 8px 10px 8px 10px;

}

.save-button {
  color: #fff;
  font-size: 30px;
}

.download-button{
  font-size: 30px;
  color: #4f3e8e;
  padding: 8px 8px 8px 8px;
}

.delete-button{
  color: #fff;
  font-size: 30px;
}

.delete-button-box {
  margin-top: auto;
  background-color: #ff1414;
  padding: 8px 10px 8px 10px;
}

/* Popup */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #4f3e8e;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px){

  .detail-presentation-draft-box{
    flex: none;
    width: 100%;
  }

  .back-button-box{
    margin-bottom: 20px;
  }

  .config-button-box{
    margin-top: 140px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

  .info-field-box {
    display: initial;
  }

  .info-first-layer{
    flex-direction: column;
  }

  .info-second-layer{
    display: initial;
  }

  .duration-box{
    grid-column: 1;

  }

  .summary-box{
    grid-row: 3;
    grid-column: 1 span;
  }

  .tag-box{
    justify-content: space-between;
  }

  .label-box{
    margin: 0;
  }

  .dropdown{
    width: 80px;
  }

  .dropdown-content{
    width: 100px;
  }
}

@media only screen and (max-width: 1350px) and (min-width: 770px){

  .summary-box{
    grid-column: 4 span;
  }

  .info-second-layer{
    flex-wrap: wrap;
  }

  .tag-box{
    justify-content: space-evenly;
    width: 100%;
  }
}

@media only screen and (max-width: 769px) and (min-width: 601px){

  .info-first-layer{
    flex-direction: column;
  }

  .info-second-layer{
    flex-wrap: wrap;
    justify-content: start;
  }

  .summary-box{
    grid-column: 2 span;
  }

  .config-button-box{
    margin-top: 120px;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }

}
