<div (click)="goBack($event)">
  <div class="row detail-box">
    <div class="detailHeader">
      <div class="dropdown">
        <div>
          <button (click)="closeAndComparePresentationdraft(PsDetail)" class="dropbtn"><i
              class="fa fa-arrow-left"></i></button>
        </div>
      </div>
      <h1>{{PsDetail.subject}}</h1>
    </div>

    <div class="detailMenu">

      <div class="gridMenu">
        <div class="dropdown">
          <button class="dropbtn" *ngIf="PsDetail.label; else showDefaultLabel">
            {{PsDetail.label}}
          </button>
          <ng-template #showDefaultLabel>
            <button class="dropbtn">Kies label</button>
          </ng-template>
          <div class="dropdown-content">
            <a (click)="changeLabel('ACCEPTED')">Accepteren</a>
            <a (click)="changeLabel('DENIED')">Afwijzen</a>
            <a (click)="changeLabel('RESERVED')">Reserve</a>
          </div>
        </div>

        <div class="dropdown">
          <button class="dropbtn" *ngIf="PsDetail.category; else showDefaultCategory">
            {{PsDetail.category}}
          </button>
          <ng-template #showDefaultCategory>
            <button class="dropbtn">Kies categorie</button>
          </ng-template>
          <div class="dropdown-content">
            <a (click)="changeCategory(category)" *ngFor="let category of conferenceDetail.categories">
              {{category}}
            </a>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <div>
          <button (click)="downloadSinglePdf(conferenceDetail, PsDetail)" class="dropbtn"><i
              class="fa fa-download"></i></button>
        </div>
      </div>
      <div class="dropdown">
        <div>
          <button (click)="deletePresentationDraft(PsDetail)" class="dropbtn"><i class="fa fa-trash"></i></button>
        </div>
      </div>
      <div class="dropdown popup">
        <div>
          <button (click)="updatePresentationDraft(PsDetail)" class="dropbtn"><i class="fa fa-save"></i></button>
          <span class="popuptext" id="myPopup">Opgeslagen</span>
        </div>
      </div>
    </div>

    <div class="detailContainerGrid1">
      <div>
        <span class="heads">ID:</span>
        <span type="text">{{PsDetail.id}}</span>
      </div>
      <div>
        <span class="heads">Aanmelddatum:</span>
        <span type="text">{{PsDetail.timeOfCreation}}</span>
      </div>
      <div>
        <span class="heads">Type:</span>
        <input type="text" [(ngModel)]="PsDetail.type">
      </div>
    </div>

    <div class="detailContainerGrid2">
      <div class="summary">
        <span class="heads">Samenvatting:</span><br>
        <textarea [(ngModel)]="PsDetail.summary"></textarea>
      </div>
    </div>
  </div>
</div>