<mat-card>
  <mat-card-header>
    <mat-card-title> {{PsDetail.subject}} </mat-card-title>
    <mat-card-subtitle> {{PsDetail.id}} </mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-raised-button color="primary" matTooltip="Terug naar overzicht"
      (click)="closeAndComparePresentationdraft(PsDetail)"><i class="fa fa-arrow-left"></i></button>
    <button mat-raised-button color="primary" matTooltip="Download PDF"
      (click)="downloadSinglePdf(conferenceDetail, PsDetail)"><i class="fa fa-download"></i></button>
    <button mat-raised-button color="primary" matTooltip="Voorstel verwijderen"
      (click)="deletePresentationDraft(PsDetail)"><i class="fa fa-trash"></i></button>
    <button mat-raised-button color="primary" matTooltip="Voorstel opslaan"
      (click)="updatePresentationDraft(PsDetail)"><i class="fa fa-save"></i></button>
    <mat-form-field>
      <mat-select placeholder="Label" [value]="PsDetail.label">
        <mat-option *ngFor="let label of labels" (click)="changeLabel(label)" [value]="label">
          {{label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Categorie" [value]="PsDetail.category">
        <mat-option *ngFor="let category of conferenceDetail.categories" (click)="changeCategory(category)"
          [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-actions>

  <mat-divider></mat-divider>

  <mat-card-content>
    <span>Datum inzending: </span>
      <span> {{PsDetail.timeOfCreation}} </span>
    <span>Type voorstel: </span>
      <input matInput [(ngModel)]="PsDetail.type" name="type">
    <textarea matInput [(ngModel)]="PsDetail.summary" name="summary" rows="10"></textarea>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-footer>
    <mat-paginator [hidePageSize]="true" [length]="conferenceDetail.presentationDrafts.length"
      [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>
  </mat-card-footer>
</mat-card>