<div *ngIf="PsDetail" (click)="goBack($event)" class="background center">
  <div class="row detail-box">
    <div class="col-ms">
      <h1>{{PsDetail.subject}}</h1>

      <div class="dropdown">
          <button class="dropbtn">{{PsDetail.label}}</button>
          <div class="dropdown-content">
            <a (click)="changeLabel('ACCEPTED')">Accepteren</a>
            <a (click)="changeLabel('DENIED')">Afwijzen</a>
            <a (click)="changeLabel('RESERVED')">Reserve</a>
          </div>
        </div>

      
      

      <div class="summary"> 
        <span class="heads">Samenvatting:</span><br>
        <textarea [(ngModel)]="PsDetail.summary"></textarea>
      </div>
    </div>
  </div>
</div>
