<mat-card>
  <mat-card-header>
    <mat-card-title> {{presentationDraftDetail.subject}} </mat-card-title>
    <mat-card-subtitle> Voorstel ID: {{presentationDraftDetail.id}} </mat-card-subtitle>
    <mat-card-subtitle> Datum inzending: {{presentationDraftDetail.timeOfCreation}} </mat-card-subtitle>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-actions class="divider-bottom left-spacing">
    <button mat-raised-button color="primary" matTooltip="Terug naar overzicht" matTooltipPosition="right"
      (click)="closeAndComparePresentationdraft(presentationDraftDetail)"><mat-icon>grid_on</mat-icon></button>

    <button style="float:right" color="primary" mat-icon-button [matMenuTriggerFor]="menu" matTooltip="Opties"
      matTooltipPosition="left">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="downloadSinglePdf(presentationDraftDetail)">
        <mat-icon>picture_as_pdf</mat-icon>
        <span>&emsp;Voorstel downloaden</span>
      </button>
      <button mat-menu-item (click)="openMailDialog()">
        <mat-icon>mail</mat-icon>
        <span>&emsp;Aanvrager mailen</span>
      </button>
      <button mat-menu-item (click)="updatePresentationDraft(presentationDraftDetail)">
        <mat-icon>save</mat-icon>
        <span>&emsp;Voorstel opslaan</span>
      </button>
      <button mat-menu-item (click)="deletePresentationDraft()">
        <mat-icon>delete</mat-icon>
        <span>&emsp;Voorstel verwijderen</span>
      </button>
    </mat-menu>
  </mat-card-actions>

  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-form-field class="left-spacing top-spacing">
      <input matInput placeholder="Onderwerp" [(ngModel)]="presentationDraftDetail.subject">
    </mat-form-field>

    <mat-form-field class="left-spacing top-spacing">
      <input matInput placeholder="Type voorstel" [(ngModel)]="presentationDraftDetail.type">
    </mat-form-field>

    <mat-form-field class="left-spacing top-spacing">
      <input matInput placeholder="Geschatte tijdsduur" [(ngModel)]="presentationDraftDetail.duration">
    </mat-form-field>

    <mat-form-field class="left-spacing">
      <mat-select placeholder="Label" [value]="presentationDraftDetail.label">
        <mat-option *ngFor="let label of labels" (click)="changeLabel(label)" [value]="label">
          {{label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="left-spacing">
      <mat-select placeholder="Categorie" [value]="presentationDraftDetail.category">
        <mat-option *ngFor="let category of this.availableCategories" (click)="changeCategory(category)"
          [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field class="full-width left-spacing">
      <textarea matInput placeholder="Samenvatting" [(ngModel)]="presentationDraftDetail.summary" rows="10" width="100%"></textarea>
    </mat-form-field>
  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-footer>
    <mat-paginator [hidePageSize]="true" [length]="numberOfDrafts"
      (page)="pageEvent = $event">
    </mat-paginator>
  </mat-card-footer>
</mat-card>
