<div class="holder">
    <div class="inner-box background">
        <div>
            inner box
        </div>
        <div>
            inner box
        </div>
        <div>
            inner box
        </div>
    </div>
    <div class="text background">
        text
    </div>
    <div class="text-two background">
        text
    </div>
    <div class="text-three background">
        text
    </div>
</div>

<div class="holder-box">
    <div class="holder-two">
        <button background>
            inner box
        </button>
        <button class="back-button-box" background>
            back
        </button>
        <button background>
            inner box
        </button>
        <button background>
            inner box
        </button>
        <button class="continue-button" background>
            continue
        </button>
        <button background>
            inner box
        </button>
        <button background>
            inner box
        </button>
        <button background>
            inner box
        </button>
    </div>
</div>
