.background{
    background: rgb(177, 255, 225);
    border: 1px solid;
}

.holder-two{
    display: flex;
    text-align: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    /* flex-direction: row-reverse; */
}

.holder-box{
    display: grid;
    grid-template-rows: 200px;
    justify-content: center;
}

.holder-two{
    display: flex;
}

.holder-two > button{
    order: 2;
    flex: 1;
    /* align-content: flex-start;
    align-items: flex-end;
    justify-content: space-evenly; */
    /* flex: 0 1 auto; flex-grow flex-shrink and flex-basis */
    /* flex-basis: 5; */
    /* flex-grow:5; */
    /* flex-shrink: 5; */
}

.back-button-box{
    order: 1 !important;
    flex: 2 !important;
    align-self: center;
}

.continue-button{
    order: 3 !important;
    flex: 2 !important;
    align-self: center;
}   

.holder{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 40px 40px 40px;
}

.inner-box{
    text-align: center;
    display: flex;
    grid-column: span 9;
}

.inner-box > div{
    border: 1px solid;
    padding: 5px;
    margin: 2px;
}

.inner-box > div:nth-of-type(3){
    margin-left: auto;
}

.text{
    text-align: center;
    grid-column: span 5;
}

.text-two{
    text-align: center;
    grid-column: span 4;
}

.text-three{
    text-align: center;
    grid-column: span 9;
}

@media screen and (max-width: 680px){
    .inner-box{
        grid-row: 2;
        grid-column: span 12;
    }
    
    .text{
        grid-row: 1;
        grid-column: span 12;
    }

    .text-two{
        grid-row: 3;
        grid-column: span 3;
    }

    .text-three{
        grid-row: 3;
        grid-column: span 6;
    }
}
