<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form [formGroup]="presentationdraftForm" (submit)="presubmit();">
  <!--VANAF HIER DE VERPLICHTE VELDEN-->
  <p>
    <mat-form-field appearance="legacy" formGroupName="indiener">
      <mat-label>Naam</mat-label>
      <input matInput placeholder="Naam" #form_naam type="text" formControlName="name"
        (change)="getIconFeedback($event)" required>
      <mat-icon matSuffix>{{iconNameFeedback}}</mat-icon>
      <!--<mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy" formGroupName="indiener">
      <mat-label>E-mailadres</mat-label>
      <input matInput placeholder="E-mailadres" #form_email type="email" formControlName="email"
        (change)="getIconFeedback($event)" required>
      <mat-icon matSuffix>{{iconEmailFeedback}}</mat-icon>
      <!--<mat-hint>Hint</mat-hint>-->
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy" formGroupName="presentationDraft">
      <mat-label>Onderwerp</mat-label>
      <input matInput placeholder="Onderwerp" #form_subject type="text" formControlName="subject"
        (change)="getIconFeedback($event)" required>
      <mat-icon matSuffix>{{iconSubjectFeedback}}</mat-icon>
      <!--<mat-hint>Hint</mat-hint>-->
    </mat-form-field>

    <mat-form-field id="mat-form-duration" appearance="legacy" formGroupName="presentationDraft">
      <mat-label>Tijdsduur</mat-label>
      <mat-select matInput placeholder="Tijdsduur" #form_duration type="text" formControlName="duration">
        <!--NG for?-->
        <mat-option value=1>15</mat-option>
        <mat-option value=2>30</mat-option>
        <mat-option value=1>45</mat-option>
        <mat-option value=2>60</mat-option>
        <mat-option value=1>75</mat-option>
        <mat-option value=2>90</mat-option>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy" formGroupName="presentationDraft">
      <mat-label>Omschrijving</mat-label>
      <textarea matInput placeholder="Omschrijving" rows="5" #form_summary type="textarea" formControlName="summary"
        (change)="getIconFeedback($event)" required></textarea>
      <mat-icon matSuffix>{{iconSummaryFeedback}}</mat-icon>
    </mat-form-field>
  </p>

  <!--EINDE VERPLICHTE VELDEN-->
  <!--VANAF HIER DE OPTIONELE VELDEN-->

  <details>
    <summary>Optionele velden</summary>
    <div class="d-flex p-2">
      <mat-form-field id="mat-form-type" appearance="legacy" formGroupName="presentationDraft">
        <mat-label>Type presentatie</mat-label>
        <input matInput placeholder="Type presentatie" #form_summary type="text" formControlName="type">
      </mat-form-field>

      <mat-form-field id="mat-form-occupation" appearance="legacy" formGroupName="indiener">
        <mat-label>Beroep/achtergrond</mat-label>
        <input matInput placeholder="Beroep/achtergrond" #form_occupation type="text" formControlName="occupation">
      </mat-form-field>

      <mat-form-field id="mat-form-category" appearance="legacy" formGroupName="presentationDraft">
        <mat-label>Categorie</mat-label>
        <mat-select matInput placeholder="Categorie" #form_category type="text" formControlName="category">
          <mat-option value=1>1</mat-option>
          <mat-option value=2>2</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!--<p>
      <mat-form-field appearance="legacy" formGroupName="indiener">
        <mat-label>Geslacht</mat-label>
        <mat-select matInput placeholder="Geslacht" #form_gender type="text" formControlName="gender">
          <mat-option value="man">man</mat-option>
          <mat-option value="vrouw">vrouw</mat-option>
          <mat-option value="overig">overig</mat-option>
        </mat-select>
      </mat-form-field>
    </p>-->

    <div class="d-flex p-2">
      <mat-form-field id="mat-form-requests" appearance="legacy" formGroupName="indiener">
        <mat-label>Overige opmerkingen</mat-label>
        <textarea matInput placeholder="Overige opmerkingen" rows="5" #form_requests type="text"
          formControlName="requests"></textarea>
      </mat-form-field>

      <!--ON CLICK: POPUP EN ADD TO TABLE-->

      <!--TABLE MATERIAL-->

      <table id="mat-form-addCohostTable">
        <ng-container>
          <tr>
            <td mat-cell class="tdHeaderText" (click)=popUpAddCohosts()>Mede-presentator toevoegen (Max. 8)</td>
            <td>
              <mat-icon aria-label="icon_new_cohost">person_add</mat-icon>
            </td>
          </tr>
          <tr>
            <td mat-cell>Henk Henksen</td>
            <td>
              <mat-icon matSuffix>delete</mat-icon>
            </td>
          </tr>
          <tr>
            <td mat-cell>Piet Henksen</td>
            <td>
              <mat-icon matSuffix>delete</mat-icon>
            </td>
          </tr>
        </ng-container>

      </table>
    </div>

    <!--TABLE MATERIAL END-->


    <!--<p>  
      <mat-form-field appearance="legacy">
        <mat-label>Zijn er mede-presentatoren?</mat-label>
        <mat-select matInput placeholder="Zijn er mede-presentatoren?">
            <mat-option value=0>Nee</mat-option>
            <!-NG for?->
            <mat-option value=1>Ja, 1</mat-option>
            <mat-option value=2>Ja, 2</mat-option>
            <mat-option value=3>Ja, 3</mat-option>
          </mat-select>
      </mat-form-field>
    </p>-->
    <!--aantal cohosts: {{cohostCount}}-->

  </details>

  <br /><br />
  <button mat-icon-button type="submit">
    <mat-icon aria-label="icon_verzenden">mail_outline</mat-icon>
    <mat-label>Verzend aanmelding</mat-label>
  </button>

  <!--<input id="send_button" type="submit" class="btn btn-default" value="Verzenden">-->
</form>