<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form [formGroup]="conferenceForm" (submit)="createConference()">
    <h2 mat-title>Aanmeldingsformulier conferentie</h2>

    <div class="input-conference-name">
        <mat-form-field appearance="legacy">
            <mat-label>Conferentie naam: </mat-label>
            <input matInput placeholder="Naam" type="text" formControlName="name" required>
            <mat-hint *ngIf="name.invalid && name.touched">
                <small class="redChar" *ngIf="name.errors?.required"> Conferentie naam is verplicht </small>
                <small class="redChar" *ngIf="name.errors?.minlength"> Conferentie naam moet minimaal drie
                    karakters bevatten </small>
                <small class="redChar" *ngIf="name.errors?.forbiddenConferenceName"> Conferentie naam:
                    "{{name.errors?.forbiddenConferenceName.value }}" is helaas niet toegestaan </small>
            </mat-hint>
        </mat-form-field>
    </div>

    <div class="input-start-date">
        <mat-form-field>
            <mat-label>Begindatum:</mat-label>
            <input matInput [matDatepicker]="dp3" placeholder="Begindatum" disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
        <!-- 
            <label> Begindatum: </label>
            <input formControlName="startDate" [(ngModel)]="selectedDate" min="{{dateOfTomorrow | date:'yyyy-MM-dd'}}"
                type="date" class="form-control"> -->
    </div>

    <div class="input-start-time">
            <label> Starttijd: </label>
            <input formControlName="startTime" [(ngModel)]="selectedTime" type="time" class="form-control">
        </div>

</form>

<p>OUD: </p>

<div class="header"> Aanmeldingsformulier conferentie </div>

<div class="container">

    <form [formGroup]="conferenceForm" (ngSubmit)="createConference()">

        <!-- <img class="input-conference-image" src="https://www.incimages.com/uploaded_files/image/970x450/getty_628483496_341358.jpg"> -->
        <!-- <img class="input-logo-image" src="https://pbs.twimg.com/profile_images/570932130903158784/l62a9dk8.jpeg"> -->

        <div class="input-conference-name">
            <label> Conferentie naam: </label>
            <input [class.is-invalid]="name.invalid && name.touched" formControlName="name" type="text"
                class="form-control">
            <div *ngIf="name.invalid && name.touched">
                <small class="redChar" *ngIf="name.errors?.required"> Conferentie naam is verplicht </small>
                <small class="redChar" *ngIf="name.errors?.minlength"> Conferentie naam moet minimaal drie
                    karakters bevatten </small>
                <small class="redChar" *ngIf="name.errors?.forbiddenConferenceName"> Conferentie naam:
                    "{{name.errors?.forbiddenConferenceName.value }}" is helaas niet toegestaan </small>
            </div>
        </div>

        <div class="input-start-date">
            <label> Begindatum: </label>
            <input formControlName="startDate" [(ngModel)]="selectedDate" min="{{dateOfTomorrow | date:'yyyy-MM-dd'}}"
                type="date" class="form-control">
        </div>

        <div class="input-start-time">
            <label> Starttijd: </label>
            <input formControlName="startTime" [(ngModel)]="selectedTime" type="time" class="form-control">
        </div>

        <div class="input-end-date">
            <label> Einddatum: </label>
            <input formControlName="endDate" (click)="minDateEndDate($event)"
                min="{{dateOfTomorrow | date:'yyyy-MM-dd'}}" type="date" class="form-control">
        </div>

        <div class="input-end-time">
            <label> Eindtijd: </label>
            <input formControlName="endTime" (click)="minTimeEndDate($event)" type="time" class="form-control">
        </div>

        <div class="input-deadline-date">
            <label> Inleverdatum: </label>
            <input formControlName="deadlineDate" (click)="maxDateDeadlineDate($event)" type="date"
                class="form-control">
        </div>

        <div class="input-deadline-time">
            <label> Inlevertijd: </label>
            <input formControlName="deadlineTime" type="time" class="form-control">
        </div>

        <div [class.d-none]="categories">
            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateCategory()">Voeg categorie
                toe</button>
            <div formArrayName="categories"
                *ngFor="let alternateCategories of alternateCategoryMethod.controls; let i = index">
                <label class="form-check-label"> Categorie naam: </label>
                <input type="text" class="form-control" [formControlName]="i">
                <button type="button" class=" btn btn-secondary btn-sm m-2"
                    (click)="removeAlternateCategory(i)">Verwijderen</button>
            </div>
        </div>

        <div [class.d-none]="stages">
            <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateStages()">Voeg stage
                toe</button>
            <div formArrayName="stages" *ngFor="let alternateStage of alternateStagesMethod.controls; let i = index">
                <label class="form-check-label"> Stage naam: </label>
                <input type="text" class="form-control" [formControlName]="i">
                <button type="button" class=" btn btn-secondary btn-sm m-2"
                    (click)="removeAlternateStages(i)">Verwijderen</button>
            </div>
        </div>

        <!-- <div [class.d-none]="extras">
            <button type="button" class="btn btn-secondary btn-sm m-2">Voeg extras toe</button>
            <div formArrayName="categories"
                *ngFor="let alternateCategories of alternateCategoryMethod.controls; let i = index">
                <label class="form-check-label"> Categorie naam: </label>
                <input type="text" class="form-control" [formControlName]="i">
                <button type="button" class=" btn btn-secondary btn-sm m-2"
                    (click)="removeAlternateCategory(i)">Verwijderen</button>
            </div>
        </div> -->

        <button [disabled]="!conferenceForm.valid" class="submitButton" type="submit"> Aanmaken </button>

        <button (click)="loadApi()" class="loadButton" type="sumbit"> Load API </button>

    </form>

    <br>

    {{conferenceForm.value | json}}

    <br><br><br>
    <button (click)="getConferences()" class="submitButton">Show all conferences</button>

    <div style="position:center" *ngIf=conferences>
        <tr>
            <th>ID:</th>
            <th>Conference name:</th>
            <th>Start date:</th>
            <th>End date:</th>
            <th>Deadline submissions:</th>
            <th>Stages:</th>
            <th>Categories:</th>
        </tr>

        <tr *ngFor="let conference of conferences">
            <td>{{ conference.id }}</td>
            <td>{{ conference.name }}</td>
            <td>{{ conference.startDate }}</td>
            <td>{{ conference.endDate }}</td>
            <td>{{ conference.deadlinePresentationDraft }}</td>
            <td>{{ conference.stages }}</td>
            <td>{{ conference.categories }}</td>
            <td><button (click)=deleteConference(conference.id)>Delete</button></td>
        </tr>

    </div>
</div>