<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form [formGroup]="conferenceForm" (submit)="createConference()">
    <h2 mat-title>Aanmeldingsformulier conferentie</h2>

    <div class="input-conference-name">
        <mat-form-field appearance="legacy">
            <mat-label>Conferentie naam: </mat-label>
            <input matInput placeholder="Naam" type="text" formControlName="name" required>
            <mat-hint *ngIf="name.invalid && name.touched">
                <small class="redChar" *ngIf="name.errors?.required"> Conferentie naam is verplicht </small>
                <small class="redChar" *ngIf="name.errors?.minlength"> Conferentie naam moet minimaal drie
                    karakters bevatten </small>
                <small class="redChar" *ngIf="name.errors?.forbiddenConferenceName"> Conferentie naam:
                    "{{name.errors?.forbiddenConferenceName.value }}" is helaas niet toegestaan </small>
            </mat-hint>
        </mat-form-field>
    </div>

    <div class="input-start-date">
        <mat-form-field appearance="legacy">
            <mat-label>Begindatum:</mat-label>
            <input matInput [matDatepicker]="dp3" placeholder="Begindatum" formControlName="startDate">
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="input-start-time">
        <mat-form-field appearance="legacy">
            <mat-label>Begintijd:</mat-label>
            <input matInput formControlName="startTime" placeholder="Begintijd" type="time">
        </mat-form-field>
    </div>

    <div class="input-end-date">
        <mat-form-field appearance="legacy">
            <mat-label>Einddatum:</mat-label>
            <input matInput [matDatepicker]="dp4" placeholder="Einddatum" formControlName="endDate">
            <mat-datepicker-toggle matSuffix [for]="dp4"></mat-datepicker-toggle>
            <mat-datepicker #dp4 disabled="false"></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="input-end-time">
        <mat-form-field appearance="legacy">
            <mat-label>Eindtijd:</mat-label>
            <input matInput formControlName="endTime" placeholder="Eindtijd" type="time">
        </mat-form-field>
    </div>

    <div class="input-inputdeadline-date">
        <mat-form-field appearance="legacy">
            <mat-label>Datum deadline:</mat-label>
            <input matInput [matDatepicker]="dp5" placeholder="Datum deadline" formControlName="deadlineDate">
            <mat-datepicker-toggle matSuffix [for]="dp5"></mat-datepicker-toggle>
            <mat-datepicker #dp5 disabled="false" (click)="maxDateDeadlineDate($event)"></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="input-deadline-time">
        <mat-form-field appearance="legacy">
            <mat-label>Tijd deadline:</mat-label>
            <input matInput formControlName="deadlineTime" placeholder="Tijd deadline" type="time">
        </mat-form-field>
    </div>

</form>


<!-- <div [class.d-none]="categories">
    <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateCategory()">Voeg categorie
        toe</button>
    <div formArrayName="categories" *ngFor="let alternateCategories of alternateCategoryMethod.controls; let i = index">
        <label class="form-check-label"> Categorie naam: </label>
        <input type="text" class="form-control" [formControlName]="i">
        <button type="button" class=" btn btn-secondary btn-sm m-2"
            (click)="removeAlternateCategory(i)">Verwijderen</button>
    </div>
</div>

<div [class.d-none]="stages">
    <button type="button" class="btn btn-secondary btn-sm m-2" (click)="addAlternateStages()">Voeg stage
        toe</button>
    <div formArrayName="stages" *ngFor="let alternateStage of alternateStagesMethod.controls; let i = index">
        <label class="form-check-label"> Stage naam: </label>
        <input type="text" class="form-control" [formControlName]="i">
        <button type="button" class=" btn btn-secondary btn-sm m-2"
            (click)="removeAlternateStages(i)">Verwijderen</button>
    </div>
</div>

<button [disabled]="!conferenceForm.valid" class="submitButton" type="submit"> Aanmaken </button>

<button (click)="loadApi()" class="loadButton" type="sumbit"> Load API </button>

</form> -->
