<body>

  <div class="FormBackgroundStyle">
    <div class="container">
      <h2 class="text-center">Aanmeldformulier presentaties</h2>

        <div class="form-group">
          <label for="form_name">Naam:</label>
          <input type="text" class="form-control" id="form_name">
        </div>
        <div class="form-group">
          <label for="form_email">Email:</label>
          <input type="email" class="form-control" id="form_email">
        </div>
        <div class="form-group">
          <label for="form_subject">Onderwerp:</label>
          <input type="text" class="form-control" id="form_subject">
        </div>
        <div class="form-group">
          <label for="form_summary">Omschrijving:</label>
          <textarea class="form-control" rows="5" maxlength="500" id="form_summary" placeholder="Maximaal 500 tekens"></textarea>
        </div>
        <details name="optional_fields">
          <summary>Optionele velden</summary>
          <br>
          <div class="form-group">
            <label for="form_type">Type presentatie:</label>
            <input type="text" class="form-control" id="form_type">
          </div>
          <div class="form-group">
            <label for="form_category">Categorie:</label>
            <select class="form-control" id="form_category" style="width: 50%">
              <option disabled selected value> -- Maak een keuze -- </option>

              <!-- Verwijder opties. ng request aantal opties.-->
              <option>test 1</option>
              <option>test 2</option>
              <option>test 3</option>
            </select>
          </div>
          <div class="form-group">
            <label for="form_duration">Tijdsduur presentatie:</label>
            <select class="form-control" id="form_duration" style="width: 50%">
              <option disabled selected value> -- Maak een keuze -- </option>
              <option>15</option>
              <option>30
              <option>45</option>
              <option>60</option>
              <option>75</option>
              <option>90</option>
            </select>
          </div>
          <div class="form-group">
            <label for="form_occupation">Beroep/achtergrond:</label>
            <input type="text" class="form-control" id="form_occupation">
          </div>
          <div class="form-group">
            <label for="form_gender">Geslacht:</label>
            <select class="form-control" id="form_gender" style="width: 50%">
              <option disabled selected value> -- Maak een keuze -- </option>
              <option>Man</option>
              <option>Vrouw</option>
              <option>Overig</option>
            </select>
          </div>
          <div class="form-group">
            <label for="form_requests">Overige opmerkingen:</label>
            <textarea class="form-control" rows="5" maxlength="500" id="form_requests"></textarea>
          </div>
          <div class="form-group">
            <label for="form_cohost">Wil je mede-presentatoren aanmelden?</label>
            <select class="form-control" id="form_cohost" style="width: 50%" (change)="toonMedepresentatoren($event);">
              <option value="0">nee</option>
              <option value="1">ja, 1</option>
              <option value="2">ja, 2</option>
              <option value="3">ja, 3</option>
            </select>
          </div>
          <div id="extra"></div>
        </details>
        <br>
        <button type="checkbox" id="send_button" class="btn btn-default">Verzenden</button>

    </div>
  </div>

</body>
