
 .FormBackgroundStyle{
     position: relative;
     background-color: rgb(180, 180, 180, 0.15);
     padding-top: 20px;
     padding-bottom: 20px;
     margin-left: 20px;
     margin-right: 20px;

 }

 .container {
     background-color: white;
     font-family: 'Roboto', sans-serif;
     font-size: 14.50px;
     width: 50%;
     padding-bottom: 10px;
}

label{
  margin-bottom: 0px;
}
