<div *ngIf="info.token; else loggedOut" class="center">

  <mat-card class="account-box">
    <mat-card-header>
      <mat-card-title>Account informatie</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>
        <strong>Gebruikersnaam:</strong> {{info.username}}
      </p>
      <p>
        <strong>Rol:</strong> {{info.authorities}}
      </p>
      <p class="txt">
        <strong>Token:</strong> {{info.token}}
      </p>
    </mat-card-content>
  </mat-card>
</div>

<ng-template #loggedOut>
  <mat-card class="account-box">
    <mat-card-content>
      Please login.
    </mat-card-content>
  </mat-card>
</ng-template>