<div class="row tile-outer-box clean-margin">
  <div class="row navigation-box">
      <button class="col-2 py-2" (click)="goBack()">Back</button>
      <div class="w-100 py-2"></div>
      <button class="col-2" (click)="getPresentationDraftByLabel(0)" >New</button>
      <button class="col-2" (click)="getPresentationDraftByLabel(2)">Accepted</button>
      <button class="col-2" (click)="getPresentationDraftByLabel(1)">Denied</button>
      <button class="col-2" (click)="getPresentationDraftByLabel(3)">Reserved</button>
      <button class="col-2" (click)="showAllPresentationDrafts()">All</button>
  </div>
  <div class="row py-3 tile-box">
    <div *ngIf="presentationDrafts; else listEmpty">
      <button *ngFor="let presentationDraft of presentationDrafts" 
        class="col-5 tile"
        (click)="showPresentationDetail()">
          <ul class="list-unstyled clean-margin">
            <li class="figure-caption text-center">
              {{presentationDraft.label | lowercase}}
            </li>
            <li>
              {{presentationDraft.subject}}
            </li>
            <li class="figure-caption text-right">
              {{getTimeOfCreation(presentationDraft)}}
            </li>
          </ul>
      </button>
    </div>
    <ng-template #listEmpty>
      this conference has no presentation drafts.
    </ng-template>
  </div>
</div>
