<div class="content">
  <div class="back-button-box">
    <button (click)="back()" matRipple class="material-icons"
            matTooltip="Back" matTooltipPosition="below">
      arrow_back_ios
    </button>
  </div>
  
  <div class="presentation-draft-box">
    <span *ngIf="page">
      <button mat-icon-button (click)="downloadAllePDF()" matTooltip="Download alle voorstellen als PDF" matTooltipPosition="right">
        <fa class="fa-3x" name="file-pdf"></fa>
      </button>
      <button mat-icon-button (click)="downloadExcelOverzicht()" matTooltip="Download alle voorstellen als Excel-spreadsheet" matTooltipPosition="right">
        <fa class="fa-3x" name="file-excel"></fa>
      </button>
         
      <mat-paginator
        [length]=page.totalElements
        [pageSize]=page.size
        [pageSizeOptions]=pageSizeOptions (page)="paginate($event)">
      </mat-paginator>

    </span>
    <cdk-virtual-scroll-viewport itemSize="100" style="height: 500px; padding: 10px">
      <mat-grid-list cols="{{breakpoint}}" rowHeight="100" gutterSize="10" style="margin: 20px"
                     (window:resize)="onResize($event)">
        <span *ngIf="page">
          <mat-grid-tile
            [@fadeOut] (click)="showPresentationDraftDetail(presentationDraft)" routerLink="presentationDraftDetail"
            [ngClass]="[presentationDraft.label.toLowerCase() + '-tile' + ' mat-grid-tile' + 'mat-ripple']"
            *ngFor="let presentationDraft of page.content" class="draft-tile"
            [colspan]="2">
            <div class="draft-tile-info-container" matRipple>
              <app-presentation-draft-tile [presentationDraft]=presentationDraft></app-presentation-draft-tile>
            </div>
          </mat-grid-tile>
       </span>
        <span *ngIf="page">
          <mat-grid-tile *ngIf="page.totalElements == 0" [colspan]="2" class="nothing-to-show">
            Nothing to show
          </mat-grid-tile>
        </span>
      </mat-grid-list>
    </cdk-virtual-scroll-viewport>
  </div>
  <div class="filter-container">
    <div class="filter-title">
      <h4>Filters</h4>
    </div>
    <div class="filter-box">
      <mat-form-field>
        <input matInput (keyup)="applyFilter()" [(ngModel)]="searchToken" placeholder="Subject">
        <mat-icon matSuffix>
          search
        </mat-icon>
      </mat-form-field>
      <mat-form-field>
        <mat-select (closed)="applyFilter()" [(value)]="categoryFilter" placeholder="Category">
          <mat-option value={{category}} *ngFor="let category of availableCategories">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select (closed)="applyFilter()" [(value)]="labelFilter" placeholder="Label">
          <mat-option value="UNLABELED">
            New
          </mat-option>
          <mat-option value="ACCEPTED">
            Accepted
          </mat-option>
          <mat-option value="DENIED">
            Denied
          </mat-option>
          <mat-option value="RESERVED">
            Reserved
          </mat-option>
          <mat-option value="UNDETERMINED">
            Undetermined
          </mat-option>
          <mat-option value="ALL">
            All
          </mat-option>
        </mat-select>
      </mat-form-field>
      <a (click)="resetFilters()" class="button" mat-button>Reset filters</a>
    </div>
  </div>
</div>
