#navigation-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

#navbox-top{
    display: flex;
    justify-content: space-between;
    grid-column: span 4;
}

#navbox-top > button{
    width: 100px;
}

#navbox-top > select{
    width: 100px;
}

#labelbox-top{
    display: flex;
    grid-column: span 2;
}

#labelbox-bottom{
    display: flex;
    grid-column: span 2;
}

#labelbox-top > button{
    flex-grow: 1;
    width: 100px;
}

#labelbox-bottom > button{
    flex-grow: 1;
    width: 100px;
}

@media screen and (max-width: 460px) {

    #labelbox-top{
        grid-column: span 4;
    }

    #labelbox-bottom{
        grid-column: span 4;
    }

}

.tile > button{
    height: 100%;
    width: 100%;
}

.tile-outer-box{
    border: 1px solid;
    margin-top: 10px;
}

.presentation-box{
    border: 1px solid;
    min-height: 468px;
    background: rgb(245, 245, 245);
}

.presentation-drafts{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 5px 2px;
}

.tile{
    grid-column: span 3;
}

.tile > button > ul{
    margin: 0px;
}

@media screen and (max-width:680px){
    .tile{
        font-size: 12px;
        grid-column: span 2;
    }
}

@media screen and (max-width:460px){
    .tile{
        font-size: 12px;
        grid-column: span 6;
    }
}

.page-number > button:hover{
    border-bottom: 0.1px solid;
    border-top: 0.1px solid;
    background-color: rgba(207, 207, 207, 0.199);
}

.nav-button:hover{
    border-left: 0.1px solid;
    border-right: 0.1px solid;
    background-color: rgba(207, 207, 207, 0.199);
}
.nav-button-last:hover{
    border-left: 0.1px solid;
    border-right: 0.1px solid;
    background-color: rgba(207, 207, 207, 0.199);
}
.nav-button-first:hover{
    border-left: 0.1px solid;
    border-right: 0.1px solid;
    background-color: rgba(207, 207, 207, 0.199);
}