.tile > button{
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.tile-outer-box{
    border: 1px solid;
}

.presentation-box{
    border: 1px solid;
    background: rgb(245, 245, 245);
}

.navigation-box{
    width: 100%;
}

.navigation-box > button:focus{
    background:rgb(190, 190, 190);
}

.tile-outer-box{
    margin-top: 10px;
}