<div class="row py-3 tile-box">
  <button (click)="goBack()" 
      class="col-ms-2 back-button">
    Back
  </button>
</div>
<div class="row tile-box">
  <div *ngIf="conference.presentationDrafts; else nothingToShow">
    <button *ngFor="let presentationDraft of conference.presentationDrafts" 
      class="col-ms button tile"
      (click)="showPresentationDetail()">
      {{presentationDraft.subject}}
    </button>
  </div>
  <ng-template #nothingToShow>
    <p>This conference has no presentation drafts</p>
  </ng-template>
</div>
