.content {
  display: flex;
}

.back-button-box{
  align-items: start;
}

.filter-container {
  display: flex;
  min-height: 520px;
  max-height: 550px;
}

.draft-tile-info{
  display: grid;
}

.filter-box {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-evenly;
  order:1;
  flex-direction: column;
}

.filter-box .button {
  margin-left: auto;
}

.filter-title {
  background-color: #180A3D;
  order: 2;
  padding: 5px;
}

.filter-title h4 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.presentation-draft-box {
  flex: 1;
  margin-right: 20px;
}

.draft-tile-info-container{
  height: 100%;
  width: 100%;
  margin: 10px;
}

.mat-grid-tile{
  overflow: visible;
}

.draft-tile{
  cursor: pointer;
  box-shadow: 2px 2px 2px 0 lightgrey;
  transition: all .5s ease;
}

.draft-tile:hover{
  box-shadow: -1px 1px 5px 0 #180A3D;
}

.unlabeled-tile {
  border: 1px solid #dfdfdf;
}

.undetermined-tile{
  border: 1px solid #dfdfdf;
}

.accepted-tile{
  border: 1px solid #dfdfdf;
}

.accepted-tile::after{
  content: "";
  width: 5px;
  border: 1px solid rgba(24, 10, 61, 0.45);
  height: 30%;
  display: block;
  top: -5px;
  position: relative;
  left: 95%;
  background-color: #00ff1d;
}

.denied-tile{
  border: 1px solid #dfdfdf;
}

.denied-tile::after{
  content: "";
  width: 5px;
  border: 1px solid rgba(24, 10, 61, 0.45);
  height: 30%;
  top: -5px;
  display: block;
  position: relative;
  left: 95%;
  background-color: #ff1414;
}

.reserved-tile{
  border: 1px solid #dfdfdf;
}

.reserved-tile::after{
  content: "";
  width: 5px;
  border: 1px solid rgba(24, 10, 61, 0.45);
  height: 30%;
  top: -5px;
  display: block;
  position: relative;
  left: 95%;
  background-color: #ffb100;
}

.buttons-top {
  border: 1px solid rgba(24, 10, 61, 0.45);
  display: block;
}

.buttons-top > button {
  border: 1px solid rgba(24, 10, 61, 0.45);
  
}

@media only screen and (max-width: 650px) {

  .content {
    flex-direction: column;
  }

  .filter-container {
    order: 1;
    flex-direction: column;
  }

  .filter-title {
    order: 1;
  }

  .presentation-draft-box {
    order: 2;
  }
}
