@import "../../../variables.scss";

.content {
  display: flex;
}

.back-button-box{
  align-items: start;
}

.filter-container {
  display: flex;
  /*min-height: 520px;*/
  /*max-height: 550px;*/
}

.draft-tile-info{
  display: grid;
}

.filter-box {
  padding: 0 20px 0 20px;
  display: flex;
  justify-content: space-evenly;
  order:1;
  flex-direction: column;
}

.filter-box .button {
  margin-left: auto;
}

.filter-title {
  background-color: #180A3D;
  order: 2;
  padding: 5px;
}

.filter-title h4 {
  color: #fff;
  margin: 0;
  padding: 0;
}

.presentation-draft-box {
  flex: 1;
  margin-right: 20px;
}

.draft-tile-info-container{

}

.mat-grid-tile{
  overflow: visible;
}

.draft-tile{
  cursor: pointer;
  border: 1px solid $tile-border-color;
  box-shadow: $tile-box-shadow;
  transition: all .5s ease;
}

.draft-tile:hover{
  box-shadow: $tile-hover-box-shadow;
}

.accepted-tile::after{
  content: "";
  width: 5px;
  border: 1px solid $label-border-color;
  height: 30%;
  display: block;
  top: -5px;
  position: relative;
  left: 95%;
  background-color: $accepted-background-color;
}

.denied-tile::after{
  content: "";
  width: 5px;
  border: 1px solid $label-border-color;
  height: 30%;
  top: -5px;
  display: block;
  position: relative;
  left: 95%;
  background-color: $denied-background-color;
}

.reserved-tile::after{
  content: "";
  width: 5px;
  border: 1px solid $label-border-color;
  height: 30%;
  top: -5px;
  display: block;
  position: relative;
  left: 95%;
  background-color: $reserved-background-color;
}

.buttons-top {
  border: 1px solid rgba(24, 10, 61, 0.45);
  display: block;
}

.buttons-top > button {
  border: 1px solid rgba(24, 10, 61, 0.45);

}

@media only screen and (max-width: 650px) {

  .content {
    flex-direction: column;
  }

  .filter-container {
    order: 1;
    flex-direction: column;
  }

  .filter-title {
    order: 1;
  }

  .presentation-draft-box {
    order: 2;
  }
}
