<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<form [formGroup]="presentationdraftForm" (submit)="submit();">
  <!--VANAF HIER DE VERPLICHTE VELDEN-->
  <h2 mat-title>Voorstel indienen</h2>
  <p>
    <mat-form-field appearance="legacy" formGroupName="indiener">
      <mat-label>Naam</mat-label>
      <input matInput placeholder="Naam" #form_naam type="text" formControlName="name"
        (change)="getIconFeedback($event)" required>
      <mat-icon matSuffix>{{iconNameFeedback}}</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy" formGroupName="indiener">
      <mat-label>E-mailadres</mat-label>
      <input matInput placeholder="E-mailadres" #form_email type="email" formControlName="email"
        (change)="getIconFeedback($event)" required>
      <mat-icon matSuffix>{{iconEmailFeedback}}</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy" formGroupName="presentationDraft">
      <mat-label>Onderwerp</mat-label>
      <input matInput placeholder="Onderwerp" #form_subject type="text" formControlName="subject"
        (change)="getIconFeedback($event)" required>
      <mat-icon matSuffix>{{iconSubjectFeedback}}</mat-icon>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="legacy" formGroupName="presentationDraft">
      <mat-label>Omschrijving</mat-label>
      <textarea matInput placeholder="Omschrijving" rows="5" #form_summary type="textarea" formControlName="summary"
        (change)="getIconFeedback($event)" required></textarea>
      <mat-icon matSuffix>{{iconSummaryFeedback}}</mat-icon>
    </mat-form-field>
  </p>
  <br />

  <!--EINDE VERPLICHTE VELDEN-->
  <!--VANAF HIER DE OPTIONELE VELDEN-->

  <details ng-open="expandOptions">
    <summary>Optionele velden</summary>
    <div class="d-flex p-2">
      <mat-form-field id="mat-form-type" appearance="legacy" formGroupName="presentationDraft">
        <mat-label>Type presentatie</mat-label>
        <input matInput placeholder="Type presentatie" #form_summary type="text" formControlName="type">
      </mat-form-field>

      <mat-form-field id="mat-form-occupation" appearance="legacy" formGroupName="indiener">
        <mat-label>Beroep/achtergrond</mat-label>
        <input matInput placeholder="Beroep/achtergrond" #form_occupation type="text" formControlName="occupation">
      </mat-form-field>

      <mat-form-field id="mat-form-category" appearance="legacy" formGroupName="presentationDraft">
        <mat-label>Categorie</mat-label>
        <mat-select matInput placeholder="Categorie" #form_category type="text" formControlName="category">
          <mat-option value=1>1</mat-option>
          <mat-option value=2>2</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field id="mat-form-duration" appearance="legacy" formGroupName="presentationDraft">
          <mat-label>Tijdsduur</mat-label>
          <mat-select matInput placeholder="Tijdsduur" #form_duration type="text" formControlName="duration">
            <!--NG for?-->
            <mat-option value=1>15</mat-option>
            <mat-option value=2>30</mat-option>
            <mat-option value=1>45</mat-option>
            <mat-option value=2>60</mat-option>
            <mat-option value=1>75</mat-option>
            <mat-option value=2>90</mat-option>
          </mat-select>
        </mat-form-field>
    </div>

    <div class="d-flex p-2">
      <mat-form-field id="mat-form-requests" appearance="legacy" formGroupName="indiener">
        <mat-label>Overige opmerkingen</mat-label>
        <textarea matInput placeholder="Overige opmerkingen" rows="10" #form_requests type="text"
          formControlName="requests"></textarea>
      </mat-form-field>

      <table id="mat-form-addCohostTable">
        <ng-container>
          <tr>
            <td mat-cell class="tdHeaderText" (click)=popUpAddCohosts(1)>Mede-presentator toevoegen (Max. 8)</td>
            <td>
              <mat-icon aria-label="icon_new_cohost" (click)=popUpAddCohosts(1)>person_add</mat-icon>
            </td>
          </tr>
          <tr *ngFor="let applicant of getApplicants()">
              <td (click)="deleteCohost(this.applicant)">{{applicant.name}}</td>
              <mat-icon aria-label="icon_delete_cohost" (click)="deleteCohost(this.applicant)">delete</mat-icon>
          </tr>
        </ng-container>
      </table>
    </div>
  </details>

  <button mat-icon-button type="submit" [disabled]="this.presentationdraftForm.get('indiener').invalid || this.presentationdraftForm.get('presentationDraft').invalid">
    <mat-icon aria-label="icon_verzenden">mail_outline</mat-icon>
    <mat-label *ngIf="this.presentationdraftForm.get('indiener').invalid || this.presentationdraftForm.get('presentationDraft').invalid">Vul minimaal de verplichte velden in a.u.b.</mat-label>
    <mat-label *ngIf="!this.presentationdraftForm.get('indiener').invalid && !this.presentationdraftForm.get('presentationDraft').invalid">Voorstel versturen</mat-label>
  </button>
</form>
