<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#" class="clean-style">
      <img src="/assets/TopiconfHeaderLogo.png" alt="Topiconf-Logo">
    </a>
    <!-- <div class="max-nav-links"> -->
    <span>
      <a mat-button [@fadeIn] [@navLink]="isOpen.isActive ? 'open' : 'closed'" class="nav-link" routerLink="home"
        routerLinkActive #isOpen="routerLinkActive">Home</a>
    </span>
    <span *ngIf="authority === 'user'" class="nav-item">
      <a mat-button [@fadeIn] [@navLink]="isOpen.isActive ? 'open' : 'closed'" class="nav-link" routerLink="user"
        routerLinkActive #isOpen="routerLinkActive">User Board</a>
    </span>
    <span *ngIf="authority === 'admin'" class="nav-item">
      <a mat-button [@fadeIn] [@navLink]="isOpen.isActive ? 'open' : 'closed'" class="nav-link" routerLink="admin"
        routerLinkActive #isOpen="routerLinkActive">Admin Board</a>
    </span>
    <span *ngIf="authority === 'user'" class="nav-item">
      <a mat-button [@fadeIn] [@navLink]="isOpen.isActive ? 'open' : 'closed'" class="nav-link" routerLink="user"
      routerLinkActive #isOpen="routerLinkActive">Voorstel indienen</a>
    </span>
    <span *ngIf="authority === 'admin'" class="nav-item">
      <a mat-button [@fadeIn] [@navLink]="isOpen.isActive ? 'open' : 'closed'" class="nav-link" routerLink="conference"
        routerLinkActive #isOpen="routerLinkActive">Conferenties</a>
    </span>
    <span *ngIf="authority === 'pm'" class="nav-item">
      <a mat-button [@fadeIn] [@navLink]="isOpen.isActive ? 'open' : 'closed'" class="nav-link" routerLink="pm"
        routerLinkActive #isOpen="routerLinkActive">PM Board</a>
    </span>
    <span *ngIf="!authority" class="nav-item">
      <a mat-button [@fadeIn] [@navLink]="isOpen.isActive ? 'open' : 'closed'" class="nav-link" routerLink="auth/login"
        routerLinkActive #isOpen="routerLinkActive">Login</a>
    </span>

    <span class="fill-remaining-space"></span>

    <span *ngIf="authority === 'admin' || authority === 'pm' || authority === 'user'">
      <button color="white" mat-icon-button [matMenuTriggerFor]="menu">
        <i class="fas fa-bars"></i>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="account">
          <i class="fas fa-user"></i>
          <span>&nbsp;&nbsp;Account</span>
        </button>
        <button mat-menu-item (click)="logout()" routerLink="auth/login">
          <i class="fas fa-sign-out-alt"></i>
          <span>&nbsp;&nbsp;Logout</span>
        </button>
      </mat-menu>
    </span>

    <!-- </div> -->

    <div class="min-nav-links">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <mat-menu #appMenu="matMenu" color="primary">
      <span mat-menu-item>
        <a mat-button class="nav-link" routerLink="home" routerLinkActive="active-nav-link">Home</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'user'" class="nav-item">
        <a mat-button class="nav-link" routerLink="user" routerLinkActive="active-nav-link">User Board</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="admin" routerLinkActive="active-nav-link">Admin Board</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'user'" class="nav-item">
        <a mat-button class="nav-link" routerLink="user"
          routerLinkActive="active-nav-link">Voorstel indienen</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="conference" routerLinkActive="active-nav-link">Conferenties</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'pm'" class="nav-item">
        <a mat-button class="nav-link" routerLink="pm" routerLinkActive="active-nav-link">PM Board</a>
      </span>
      <span mat-menu-item *ngIf="!authority" class="nav-item">
        <a mat-button class="nav-link" routerLink="auth/login" routerLinkActive="active-nav-link">Login</a>
      </span>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <!-- <app-loading *ngIf="isLoading()" class="loading-container"></app-loading> -->
  <router-outlet></router-outlet>
</div>