<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="#" class="clean-style">
      <img src="/assets/TopiconfHeaderLogo.png" alt="Topiconf-Logo">
    </a>
    <div class="max-nav-links">
      <span>
        <a mat-button class="nav-link" routerLink="home">Home</a>
      </span>
      <span *ngIf="authority === 'user'" class="nav-item">
        <a mat-button class="nav-link" routerLink="user">User Board</a>
      </span>
      <span *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="admin">Admin Board</a>
      </span>
      <span *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="aanmeldformulierConference">Conference aanmaken</a>
      </span>
      <span *ngIf="authority === 'user'" class="nav-item">
        <a mat-button class="nav-link" routerLink="aanmeldformulierPresentationDraftApplicant">Voorstel indienen</a>
      </span>
      <span *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="conference">Conference</a>
      </span>
      <span *ngIf="authority === 'pm'" class="nav-item">
        <a mat-button class="nav-link" routerLink="pm">PM Board</a>
      </span>
      <span *ngIf="!authority" class="nav-item">
        <a mat-button class="nav-link" routerLink="auth/login">Login</a>
      </span>
    </div>
    <mat-menu #appMenu="matMenu" color="primary">
      <span mat-menu-item>
        <a mat-button class="nav-link" routerLink="home">Home</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'user'" class="nav-item">
        <a mat-button class="nav-link" routerLink="user">User Board</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="admin">Admin Board</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="aanmeldformulierConference">Conference aanmaken</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'user'" class="nav-item">
        <a mat-button class="nav-link" routerLink="aanmeldformulierPresentationDraftApplicant">Voorstel indienen</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'admin'" class="nav-item">
        <a mat-button class="nav-link" routerLink="conference">Conference</a>
      </span>
      <span mat-menu-item *ngIf="authority === 'pm'" class="nav-item">
        <a mat-button class="nav-link" routerLink="pm">PM Board</a>
      </span>
      <span mat-menu-item *ngIf="!authority" class="nav-item">
        <a mat-button class="nav-link" routerLink="auth/login">Login</a>
      </span>
    </mat-menu>
    <div class="min-nav-links">
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>