<h1 mat-dialog-title>{{popUpTitel}}</h1>

<mat-dialog-content [formGroup]="categorieForm" *ngIf="getPopUpType()==0">
    <mat-form-field>
        <input matInput placeholder="Categorie" formControlName="category" type="text" required>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-content [formGroup]="stageForm" *ngIf="getPopUpType()==1">
    <mat-form-field>
        <input matInput placeholder="Stage" formControlName="stage" type="text" required>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button *ngIf="getPopUpType()==0" class="mat-raised-button mat-primary" (click)="save()" [disabled]="this.categorieForm.invalid">Toevoegen</button>
    <button *ngIf="getPopUpType()==1" class="mat-raised-button mat-primary" (click)="save()" [disabled]="this.stageForm.invalid">Toevoegen</button>
</mat-dialog-actions>