<div *ngIf="isLoggedIn; else loggedOut">
  Logged in as {{roles}}.
</div>

<ng-template #loggedOut>
  <div class="center">
    <mat-card class="login-box">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Topiconf</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <mat-form-field class="full-width">
            <input matInput type="text" class="form-control" name="username" placeholder="Gebruikersnaam"
              [(ngModel)]="form.username" #username="ngModel" required />
          </mat-form-field>
          <br>
          <mat-form-field class="full-width">
            <input matInput id="password" type="password" class="form-control" name="password" placeholder="Wachtwoord"
              [(ngModel)]="form.password" #password="ngModel" required />
          </mat-form-field>
          <mat-card-actions align="end">
            <button mat-raised-button color="primary">Login</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
      
      <mat-divider></mat-divider>

      <br>
      <span>Nog geen account?</span>
      <br>
      <a href="signup">Meld je aan!</a>

    </mat-card>
  </div>
</ng-template>
